.loading-button {
	position: relative;

	.spinner {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		opacity: 0;
	}

	&.loading {
		.spinner {
			opacity: 1;
		}

		.label {
			opacity: 0;
		}
	}
}
